.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.drawer {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    & h3 {
        position: relative;

        font-weight: 700;
        font-size: 24px;

        margin: 30px;

        display: flex;
        justify-content: space-between;

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__item {
        max-width: 325px;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin: 0 30px 20px;

        font-size: 16px;

        div {
            width: 100%;
            height: 1px;

            margin: 0 6px;

            position: relative;
            top: -3px;

            border-bottom: 1px dashed #DFDFDF;
        }

        p {
            font-weight: 600;
        }
    }

    &__btn {
        position: relative;
        width: 325px;
        height: 55px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin: 4px 20px 30px 30px;

        color: #fff;
        font-weight: 600;
        font-size: 16px;
        background-color: #9DD458;
        border-radius: 18px;

        &:hover {
            opacity: 0.9;

            img {
                transform: translateX(10px);
            }
        }

        img {
            position: absolute;
            right: 30px;
            margin-right: 10px;

            transition: transform 0.2s ease-in-out;
        }
    }

    .cartItems {
        flex: 1;
        overflow: auto;
        align-items: center;
    }

    .cartEmpty {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        text-align: center;
    
        img {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }
     
        p {
            width: 280px;
            line-height: 24px;
            opacity: 0.6;
        }
    }
    
    .greenButton {
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: 10px 20px 30px 30px;
    
        &:hover {
            img {
                transform: rotate(180deg) translateX(3px);
            }
        }
    
        img {
            width: 16px;
            height: 16px;
            position: relative;
            top: 10px;
            transform: rotate(180deg);
            margin-right: 15px;
            transition: transform .2s ease-in-out;
        }
    }
}
